<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<filezilla-server-exported xmlns:fz="https://filezilla-project.org" xmlns="https://filezilla-project.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" fz:product_flavour="standard" fz:product_version="1.8.1">
	<protocols_options>
		<!--Autobanner options-->
		<autobanner>
			<!--The duration, in milliseconds, of the IP ban.-->
			<ban_duration>300000</ban_duration>
			<!--The duration, in milliseconds, during which the number of failed login attempts is monitored.-->
			<login_failure_time_window>0</login_failure_time_window>
			<!--The number of login attempts that are allowed to fail, within the time window specified by the parameter [login_failures_time_window]. The value 0 disables this mechanism.-->
			<login_failure_time_window>0</login_failure_time_window>
		</autobanner>
		<!--Performance options.-->
		<performance>
			<!--Number of threads to distribute sessions to.-->
			<number_of_session_threads>0</number_of_session_threads>
			<!--Size of receving data socket buffer. Numbers < 0 mean use system defaults. Defaults to -1.-->
			<receive_buffer_size>-1</receive_buffer_size>
			<!--Size of sending data socket buffer. Numbers < 0 mean use system defaults. Defaults to -1.-->
			<send_buffer_size>-1</send_buffer_size>
		</performance>
		<!--Timeout options.-->
		<timeouts>
			<!--Login timeout (fz::duration)-->
			<login_timeout>60000</login_timeout>
			<!--Activity timeout (fz::duration).-->
			<activity_timeout>3600000</activity_timeout>
		</timeouts>
	</protocols_options>
	<ftp_options>
		<!--List of addresses and ports the FTP server will listen on.-->
		<listener>
			<address>0.0.0.0</address>
			<port>21</port>
			<tls_mode>0</tls_mode>
		</listener>
		<listener>
			<address>::</address>
			<port>21</port>
			<tls_mode>0</tls_mode>
		</listener>
		<!--Session-related options.-->
		<session>
			<!--PASV settings-->
			<pasv>
				<!--IPV4 IP or name host that overrides the local address when PASV is used. Leave empty to not perform the override-->
				<host_override></host_override>
				<!--If set to true, then the host is not overriden for local connections.-->
				<do_not_override_host_if_peer_is_local>true</do_not_override_host_if_peer_is_local>
				<!--Port range to be used for PASV connections-->
			</pasv>
			<!--TLS certificate data.-->
			<tls min_protocol_version="2" index="4">
				<!--The original certificate being exported-->
				<original index="2">
					<!--Fingerprint of the autogenerated and selfsigned certificate.-->
					<fingerprint>c9:66:75:f1:60:35:06:81:0d:90:6b:9b:23:6d:55:53:23:6b:a3:d7:84:a3:94:cf:07:b8:64:be:53:42:c0:cc</fingerprint>
				</original>
				<!--The certs private key, in PEM format. If empty, it is assumed that they key is embedded in the certs.-->
				<key>-----BEGIN EC PRIVATE KEY-----
MHgCAQEEIQCIBY5pfKnpZSIz+QvVQP9EMwbe+vyZV9tVh6Rcd8xPzaAKBggqhkjO
PQMBB6FEA0IABBN0M+SvWdVl5thCNd/VHkxIJ/Ky2Syd5ElojAdYBwsoW/IgkqFM
Vsb2IbDIvUEOYlI+SLbXySqlS5bs5O+cyAY=
-----END EC PRIVATE KEY-----
</key>
				<!--The certs chain, in PEM format. If key is empty, it is assumed that certs also contains the key itself.-->
				<certs>-----BEGIN CERTIFICATE-----
MIIBiDCCAS6gAwIBAgIU6J95QIDCMIEBf1qwVoOBytQkgZQwCgYIKoZIzj0EAwIw
MzExMC8GA1UEAxMoZmlsZXppbGxhLXNlcnZlciBzZWxmIHNpZ25lZCBjZXJ0aWZp
Y2F0ZTAeFw0yNDAzMjIyMDMxMDNaFw0yNTAzMjMyMDM2MDNaMDMxMTAvBgNVBAMT
KGZpbGV6aWxsYS1zZXJ2ZXIgc2VsZiBzaWduZWQgY2VydGlmaWNhdGUwWTATBgcq
hkjOPQIBBggqhkjOPQMBBwNCAAQTdDPkr1nVZebYQjXf1R5MSCfystksneRJaIwH
WAcLKFvyIJKhTFbG9iGwyL1BDmJSPki218kqpUuW7OTvnMgGoyAwHjAOBgNVHQ8B
Af8EBAMCBaAwDAYDVR0TAQH/BAIwADAKBggqhkjOPQQDAgNIADBFAiAkVo4visxI
WSYU0icEgJ+Eg3zfiJ7RXT1eJkz0/9M3KAIhAOwmxr22UI2bkhXW7AX+lHtUvm+L
abl7zJjojJ05hprp
-----END CERTIFICATE-----
</certs>
			</tls>
		</session>
		<!--Additional welcome message.-->
		<welcome_message has_version="true"></welcome_message>
	</ftp_options>
	<disallowed_ips></disallowed_ips>
	<allowed_ips></allowed_ips>
	<groups />
	<users>
		<default_impersonator index="0" enabled="false">
			<name></name>
			<password></password>
		</default_impersonator>
		<user name="&lt;system user>" enabled="false">
			<mount_point tvfs_path="/" access="1" native_path="" new_native_path="%&lt;home>" recursive="2" flags="0" />
			<rate_limits inbound="unlimited" outbound="unlimited" session_inbound="unlimited" session_outbound="unlimited" />
			<allowed_ips></allowed_ips>
			<disallowed_ips></disallowed_ips>
			<session_open_limits files="unlimited" directories="unlimited" />
			<session_count_limit>unlimited</session_count_limit>
			<description>This user can impersonate any system user.</description>
			<impersonation login_only="false" />
			<methods>1</methods>
		</user>
		<user name="test" enabled="true">
			<mount_point tvfs_path="/" access="0" native_path="" new_native_path="%&lt;home>" recursive="1" flags="0" />
			<rate_limits inbound="unlimited" outbound="unlimited" session_inbound="unlimited" session_outbound="unlimited" />
			<allowed_ips></allowed_ips>
			<disallowed_ips></disallowed_ips>
			<session_open_limits files="unlimited" directories="unlimited" />
			<session_count_limit>unlimited</session_count_limit>
			<description></description>
			<password index="0" />
			<methods>0</methods>
		</user>
	</users>
</filezilla-server-exported>
